.wrapper__body{
    max-width: 100vw;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
    background-color: #fffef6;
}


.wrapper__body .container-ct{
    max-width: 1120px;
    width: auto;
    margin: 0 auto;
}

.wrapper__body .container-main{
    max-width: 926px;
    width: auto;
    margin: 0 auto;
}


@media screen and (max-width: 1024.98px) {
    .wrapper__body .container-ct,
    .wrapper__body .container-main{
        max-width: 704px;
        margin-left: 160px;
        margin-right: 160px;
    }
}

@media screen and (max-width: 768.98px) {
    .wrapper__body .container-ct,
    .wrapper__body .container-main{
        margin-left: 80px;
        margin-right: 80px;
    }
}

@media screen and (max-width: 425.98px){
    .wrapper__body .container-ct,
    .wrapper__body .container-main{
        margin-left: 40px;
        margin-right: 40px;
    }
}

.wrapper__body .wrapper__header{
    margin-top: 121.44px;
}

.wrapper__body .card-header{
    text-align: center;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    flex-shrink: 0;
    align-self: stretch;
    background: unset;
    border-bottom: unset;
}

.wrapper__body .card-header .group-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    flex-shrink: 0;
    align-self: stretch;
    color: #2B2B2B;
}

.wrapper__body .card-header .title{
    font-size: 2.25em;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    color: #AF2026;
}

.wrapper__body .card-header .description{
    width: 912px;
    flex-shrink: 0;
    color: #2B2B2B;
    font-size: 1em;
    font-weight: 500;
    line-height: normal;
    font-style: normal;
}

.wrapper__body .card-header .card-img{
    align-self: stretch;
    border-radius: 16px;
    overflow: hidden;
    /* height: 547px; */
}

.wrapper__body .card-header .card-img img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.wrapper__body .section-page{
    margin: 80px 0;
}

@media screen and (max-width: 1024px){
    .wrapper__body .wrapper__header{
        margin-top: 69.5px;
    }

    .wrapper__body .card-header{
        gap: 48px;
    }

    .wrapper__body .card-header .description{
        width: 100%;
    }

    .wrapper__body .card-header .description{
        min-height: 114px;
    }

    .wrapper__body .card-header .card-img{
        height: 223px;
    }
    
    .wrapper__body .section-page{
        margin: 112px 0;
    }
}

@media screen and (max-width: 768.98px) {
    
    .wrapper__body .wrapper__header{
        margin-top: 53.5px;
    }

}

@media screen and (max-width: 425.98px){
    .wrapper__body .wrapper__header{
        margin-top: 47.25px;
    }

    .wrapper__body .card-header{
        gap: 40px;
    }

    .wrapper__body .card-header .description{
        letter-spacing: -0.1px;
    }

    .wrapper__body .card-header .title{
        font-size: 29px;
    }

    .wrapper__body .card-header .card-img,
    .wrapper__body .card-header .card-img img{
        height: 117px;
    }

    .wrapper__body .card-header .card-img img{
        object-fit: cover;
    }
        
    .wrapper__body .section-page{
        margin: 40px 0;
    }
}

@media screen and (max-width: 425.98px){
    .wrapper__body .wrapper__header{
        margin-top: 39.25px;
    }
}


@media screen and (max-width: 375.98px){
    .wrapper__body .card-header .title{
        font-size: 1.5em;
    }

    .wrapper__body .card-header .description{
        letter-spacing: -0.3px;
    }
}

.wrapper__body .wrapper-main{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 48px 30px;
    font-size: 16px;
}

.wrapper__body .heading{
    margin-bottom: 48px;
}

.wrapper__body .heading h2{
    font-family: Montserrat;
    color: #AF2026;
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
}

.wrapper__body .heading h2 .outstanding{
    font-size: 1.5em;
    line-height: 160%;
    letter-spacing: -1.125px;
    text-transform: uppercase;
}

.wrapper__body .wrapper-main .wrapper-item{
    flex: 0 0 calc(50% - 15px);
    width: calc(50% - 15px);
}

.wrapper__body .wrapper-main .wrapper-item .wrapper-img{
    width: 100%;
    border-radius: 16px;
    overflow: hidden;
}

.wrapper__body .wrapper-main .wrapper-item .wrapper-img img{
    width: 100%;
    object-fit: cover;
}

.wrapper__body .wrapper-main .wrapper-item .blockquotes{
    display: inline-block;
}

.wrapper__body .wrapper-main .wrapper-item .blockquotes .quotes{
    color: #931A1D;
    font-size: 65px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.wrapper__body .wrapper-main .wrapper-item .blockquotes .quotes.right{
    float: right;
}

.wrapper__body .wrapper-main .wrapper-item .blockquotes .content{
    color: #2B2B2B;
    font-size: 1.5625em;
    font-style: italic;
    font-weight: 500;
    line-height: normal;
    margin: 0 35px;
}

.wrapper__body .wrapper-main .wrapper-item .blockquotes .content,
.wrapper__body .wrapper-main .wrapper-item .blockquotes .quotes.right{
    transform: translateY(-22px);
}

.wrapper__body .section-page .bottom-desc{
    margin-top: 28px;
    text-align: justify;
}


@media screen and (max-width: 1024.98px) {
    .wrapper__body .wrapper-main .wrapper-item .blockquotes .content{
        max-height: 240px;
        overflow: hidden;
    }

    .wrapper__body .wrapper-main .wrapper-item .blockquotes .quotes{
        width: 30.306px;
    }

    .wrapper__body .wrapper-main .wrapper-item .blockquotes .content{
        font-size: 1.25em;
    }

    .wrapper__body .quotes-md-none{
        display: none;
    }

    .wrapper__body .group-subtitle .outstanding{
        display: block;
    }

    .wrapper__body .wrapper-main.option-1 .wrapper-item .wrapper-img,
    .wrapper__body .wrapper-main.option-1 .wrapper-item .wrapper-img img{
        height: 460px;
    }
}

@media screen and (max-width: 768.98px) {
    .wrapper__body .wrapper-main .wrapper-item .blockquotes .content{
        margin: 0 20px;
    }

    .wrapper__body .wrapper-main.option-1 .wrapper-item .wrapper-img,
    .wrapper__body .wrapper-main.option-1 .wrapper-item .wrapper-img img{
        height: 407px;
    }
}

@media screen and (max-width: 425.98px) {
    .wrapper__body .wrapper-main .wrapper-item .blockquotes .content{
        margin: 0;
        font-size: 0.75em;
        text-align: justify;
    }

    .wrapper__body .wrapper-main .wrapper-item .wrapper-img,
    .wrapper__body .wrapper-main .wrapper-item .wrapper-img img{
        height: 275px;
    }

    .wrapper__body .wrapper-main .wrapper-item .blockquotes .quotes{
        font-size: 2.1875em;
    }

    .wrapper__body .wrapper-main .wrapper-item .blockquotes .content,
    .wrapper__body .wrapper-main .wrapper-item .blockquotes .quotes.right{
        transform: translateY(-10px);
    }

    .wrapper__body .wrapper-main.option-1 .wrapper-item .wrapper-img,
    .wrapper__body .wrapper-main.option-1 .wrapper-item .wrapper-img img{
        height: 275px;
    }

    .wrapper__body .heading{
        margin-bottom: 25px;
    }
}

@media screen and (max-width: 320.98px){
    .wrapper__body .wrapper-main{
        flex-wrap: wrap;
        gap: 30px;
    }

    .wrapper__body .wrapper-main .wrapper-item{
        flex: 0 0 100%;
        width: 100%;
    }

    .wrapper__body .wrapper-main .wrapper-item .blockquotes .content{
        margin-left: 35px;
    }

    .wrapper__body .wrapper-main.option-1 .wrapper-item .wrapper-img,
    .wrapper__body .wrapper-main.option-1 .wrapper-item .wrapper-img img{
        height: 237.25px;
    }
}

.wrapper__body .wrapper-main.option-2{
    align-items: start;
}

.wrapper__body .wrapper-main .body .list-item{
    margin-top: 15px;
}

.wrapper__body .wrapper-main .body .list-item ul{
    margin-bottom: 0;
}

.wrapper__body .wrapper-main .body .list-item ul li{
    margin-bottom: 10px;
}

.wrapper__body .wrapper-main .body .list-item ul li:last-child{
    margin-bottom: 0;
}

.wrapper__body .wrapper-main.option-2 .wrapper-item .wrapper-img,
.wrapper__body .wrapper-main.option-2 .wrapper-item .wrapper-img img{
    height: 659px;
}

.wrapper__body .wrapper-main .body{
    text-align: justify;
}

.wrapper__body .wrapper-main .body .list-item .note{
    color: #2B2B2B;
    text-align: justify;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 25.6px; /* 160% */
}


@media screen and (max-width: 1024.98px) {
    .wrapper__body .wrapper-main.option-2 .wrapper-item .wrapper-img,
    .wrapper__body .wrapper-main.option-2 .wrapper-item .wrapper-img img{
        height: 871px;
    }

    .wrapper__body .wrapper-main.option-2 .wrapper-item .wrapper-img img{
        object-fit: cover;
    }
}

@media screen and (max-width: 768.98px) {
    .wrapper__body .wrapper-main.option-2{
        flex-wrap: wrap;
        gap: 30px;
    }

    .wrapper__body .wrapper-main.option-2 .wrapper-item{
        flex: 0 0 100%;
        width: 100%;
    }
    .wrapper__body .wrapper-main.option-2 .wrapper-item .wrapper-img,
    .wrapper__body .wrapper-main.option-2 .wrapper-item .wrapper-img img{
        height: 479px;
    }

    .wrapper__body .section-page .heading h2{
        font-size: 35px;
    }
}

@media screen and (max-width: 425.98px) {
    .wrapper__body .section-page .heading h2,
    .wrapper__body .section-page.trip .heading h2{
        font-size: 20px;
    }
}

.wrapper__body .national{
    font-size: 16px;
    color: #2B2B2B;
    font-family: Montserrat;
    text-align: justify;
    font-weight: 500;
    line-height: 25.5px; /* 159.375% */
}

.wrapper__body .national .heading h2{
    color: #AF2026;
    text-align: center;
    font-size: 1.375em;
    font-style: normal;
    font-weight: 800;
    line-height: 150%;
    text-transform: uppercase;
}

.wrapper__body .national .heading h2 .outstanding{
    margin-bottom: 0;
    font-size: 2.2727em;
}

.wrapper__body .national .wrapper-body .card-img{
    width: 100%;
    overflow: hidden;
    border-radius: 16px;
    margin-bottom: 15px;
}

.wrapper__body .national .wrapper-body .card-img img{
    width: 100%;
    object-fit: cover;
}

.wrapper__body .national .wrapper-body .note{
    font-size: 1em;
    font-style: normal;
    font-weight: 500;
    line-height: 25.5px; /* 159.375% */
    margin-bottom: 30px;
}

.wrapper__body .national .wrapper-body .note.eclipse{
    font-style: italic;
}

.wrapper__body .national .wrapper-body .note .highlight{
    color: #AF2026;
    letter-spacing: -0.16px;
}

@media screen and (max-width: 1024.98px){
    .wrapper__body .national .wrapper-body .card-img,
    .wrapper__body .national .wrapper-body .card-img img{
        height: 290px;
    }
}

@media screen and (max-width: 425.98px) {
    .wrapper__body .national .heading h2{
        font-size: 1em;
    }

    .wrapper__body .national .heading h2 .outstanding{
        font-size: 2.1875em;
    }
}

@media screen and (max-width: 375.98px){
    .wrapper__body .national .heading h2 .outstanding{
        font-size: 1.874em;
    }

    .wrapper__body .national .wrapper-body .card-img,
    .wrapper__body .national .wrapper-body .card-img img{
        height: 251px;
    }
}

@media screen and (max-width: 320.98px){
    .wrapper__body .national .wrapper-body .card-img,
    .wrapper__body .national .wrapper-body .card-img img{
        height: 172px;
    }
}

.wrapper__body .introduct .wrapper-main .wrapper-item .wrapper-img{
    height: 100%;
    aspect-ratio: unset;
}

.wrapper__body .introduct .wrapper-main .wrapper-item .wrapper-img .img{
    background: url('images/viber_image_2023-10-27_14-38-51-270 1.png');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    width: 100%;
    height: 633px;
}

@media screen and (max-width: 1200.98px){
    .wrapper__body .introduct .wrapper-main .wrapper-item .wrapper-img .img{
        height: 818px;
    }

    .wrapper__body .introduct .wrapper-main .wrapper-item:first-child{
        order: 2!important;
    }

    .wrapper__body .introduct .wrapper-main .wrapper-item:last-child{
        order: 1!important;
    }
}

@media screen and (max-width: 768.98px){
    .wrapper__body .introduct .wrapper-main{
        flex-wrap: wrap;
    }

    .wrapper__body .introduct .wrapper-main .wrapper-item{
        flex: 0 0 100%;
        width: 100%;
    }

    .wrapper__body .introduct .wrapper-main .wrapper-item .wrapper-img .img{
        height: 352px;
        background: url('images/viber_image_2023-10-27_14-38-51-270 2.png');
        background-position: center;
    }

    .wrapper__body .introduct .heading h2{
        font-size: 30px;
    }

    .wrapper__body .introduct .group-subtitle .outstanding{
        font-size: 40px;
    }

    .wrapper__body .introduct .wrapper-main .wrapper-item:first-child{
        order: 1!important;
    }

    .wrapper__body .introduct .wrapper-main .wrapper-item:last-child{
        order: 2!important;
    }
}

@media screen and (max-width: 425.98px){
    .wrapper__body .introduct .heading h2{
        font-size: 16px;
    }

    .wrapper__body .introduct .group-subtitle .outstanding{
        font-size: 35px;
    }
}

@media screen and (max-width: 375.98px){
    .wrapper__body .introduct .group-subtitle .outstanding{
        font-size: 30px;
    }

    .wrapper__body .introduct .wrapper-main .wrapper-item .wrapper-img .img{
        height: 261px;
        background-size: cover;
    }
}

@media screen and (max-width: 320.98px){
    .wrapper__body .introduct .heading h2{
        font-size: 13px;
    }
}

/*Footer*/
.wrapper__body .thumbnail-footer{
    border-radius: 16px;
    width: 100%;
    overflow: hidden;
}

.wrapper__body .thumbnail-footer img{
    width: 100%;
    aspect-ratio: 1120 / 560;
}

.wrapper__body .thumbnail-footer.section-page{
    margin-bottom: 120px;
}

@media screen and (max-width: 1024.98px){
    .wrapper__body .thumbnail-footer.section-page{
        margin-bottom: 70px;
    }

    .wrapper__body .thumbnail-footer img{
        height: 316px;
        aspect-ratio: none;
    }
}

@media screen and (max-width: 768.98px){
    .wrapper__body .thumbnail-footer.section-page{
        margin-bottom: 53.5px;
    }
}

@media screen and (max-width: 425.98px){
    .wrapper__body .thumbnail-footer.section-page{
        margin-bottom: 47.25px;
    }

    .wrapper__body .thumbnail-footer img{
        height: 157.5px;
        aspect-ratio: unset;
    }
    
}

@media screen and (max-width: 375.98px){
    .wrapper__body .thumbnail-footer.section-page{
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 320.98px){
    .wrapper__body .thumbnail-footer.section-page{
        margin-bottom: 36.75px;
    }
}

/*Hover all img*/
.wrapper__body img{
    transition: all .3s;
}

.wrapper__body img:hover{
    transform: scale(1.1);
}